[2017-01-14 14:32] sandroacoelho opened #2 "Create annotation tests - Lucene"

[2017-06-08 12:10] sandroacoelho opened #1 "Fix travis config"

[2017-06-19 00:02] sandroacoelho commented on #1
Fixed

[2017-06-19 00:02] #1 closed, assigned to sandroacoelho

[2017-06-23 15:42] Skunnyk opened #3 "Spotlight Performances / Possible tuning ?"
Hi,
I'm working on an "in-house" dbpedia-spotlight setup.
I use dbpedia-spotlight-1.0.0.jar, the en.tar.gz model from http://downloads.dbpedia-spotlight.org/2016-04/en/model/en.tar.gz, and start with :

`java -Xms10G -Xmx10G -jar dbpedia-spotlight-1.0.0.jar en_2+2/ http://x.x.x.x:2222/en/ `

- Server bare metal
- 16 core CPUs ( CPU E5-2620  )
- 16GB ram

From my firsts benchmarks with random engli

[2017-06-23 16:02] Skunnyk commented on #3
Oh, and java 1.8 :)

[2017-06-24 23:06] cdraper-CS opened #4 "Site not responding"
Looks like http://model.dbpedia-spotlight.org is down/not responding....

[2017-06-26 16:19] cdraper-CS commented on #4
And its fixed :-)

[2017-06-26 16:19] #4 closed, assigned to nobody

[2017-06-26 16:32] Skunnyk commented on #3
Ok, so after more tests/digging :
spotlight only uses 5 CPUs at a time from what I see.
It uses grizzly for http, and in https://github.com/javaee/grizzly/blob/master/modules/grizzly/src/main/java/org/glassfish/grizzly/threadpool/AbstractThreadPool.java#L79 we can see a "hard" limit to 5 threads, maybe it's related ?
Btw I can't find a way to modify this parameter from spotlight.

[2017-06-27 08:01] sandroacoelho commented on #3
Hi @Skunnyk ,
@tgalery (Spotlight developer) has opened an issue related [here](https://github.com/dbpedia-spotlight/dbpedia-spotlight/issues/217).  This subject has not got much attention until the people started to use Spotlight under Apache UIMA and other environments that require massive parallel processing.

We are currently working on to solve a problem regarding with our models for Eastern

[2017-06-27 16:33] Skunnyk commented on #3
Thank you @sandroacoelho
So, if I understand, for now, we know that there is some concurrency problems but don't know the real limits / how to handle that ?
ATM, If I want to handle say 150queries/s, the only way is to shard and use multiple spotlight instances ?

[2017-06-27 17:11] tgalery commented on #3
@Skunnyk probably (and putting a load balancer in front of them). To be honest, the server and concurrency libraries used by the project are insanely out dated. If we were to actually devise time to tackle that, we probably would change it completely.

[2017-06-28 12:28] sandroacoelho commented on #3
Hi @Skunnyk , @tgalery

For now, I advise you use multiple instances through a load balance using Apache or Nginx.
I make @tgalery words my own.  I believe that on next few weeks we can plan and do a big upgrade to solve this issue.

Best,

[2017-06-28 13:11] Skunnyk commented on #3
Thank you guys, that's what I thought.
So let's go for a load balancing with multiples instances.
Good luck for the next steps !

[2017-06-28 13:11] #3 closed, assigned to nobody

[2017-10-05 12:53] sandroacoelho opened #10 "REST Interface is not filtering types"
Our demo application provides some filters, such as types and SPARQL queries that are not working.

Test cases:
- [ ]  When a user submits a text to be annotated and select one or more types, Spotlight engine must filter the annotations among these types;

- [ ]  When a user submits a text to be annotated with a SPARQL query, Spotlight engine must combine the result with the SPARQL query to filter

[2017-10-09 15:54] Skunnyk opened #11 "Update current dependencies"
We know that the current stack is old, see https://docs.google.com/presentation/d/1_3Ky3AY-HTWlCN0WGcZHq5rlTM6nnmD1VryU2lT2x4g/edit#slide=id.g260f1373c3_0_36 and https://docs.google.com/document/d/1EYZPN4KmyAhlGPfyRBjiAhBVgCSVzhG0jR-9kQd7v0s/edit by @sandroacoelho  for some explanations.

As a complete rewrite is expected (any roadmap ?, and it will take months), first we need to take care of 1.0.

[2017-10-23 18:29] AgoloKennethTan opened #14 "Link in ReadMe.md leads to 404"
https://blog.semantic-web.at/wp-content/uploads/2011/09/p1_mendes.pdf

[2017-10-26 16:14] Skunnyk commented on #11
I started the works here : https://github.com/Skunnyk/dbpedia-spotlight-model/commits/update-deps
It's a WIP and maybe I broke some features :) Feel free to continue if you are interested !

[2017-10-27 13:09] swartchris8 opened #15 "Production deployment"
Hi,

What is the recommended way to deploy dbpedia spotlight to production? I am currently running it from the jar directly based on https://github.com/dbpedia-spotlight/dbpedia-spotlight/wiki/Run-from-a-JAR . How robust is this approach with regards to network issues or performance?

Cheers,
Chris

[2017-10-30 17:18] Skunnyk commented on #11
It's an infinite rabbit hole /o\

[2017-11-02 23:51] sandroacoelho commented on #15
Hi @swartchris8,

We have noticed that our users are running it from jar directly together with parameters as you can see [here](https://github.com/dbpedia-spotlight/dbpedia-spotlight-model/pull/13).

Our endpoint demo that serves ~6k/ requests per hour uses our docker image (It is not too much, but is a base number to create benchmarks)

Best,

[2017-11-02 23:53] sandroacoelho commented on #14
Hi @AgoloKennethTan ,

Thank you. Fixed: http://www.dbpedia-spotlight.org/docs/spotlight.pdf

Best,

[2017-11-02 23:53] #14 closed, assigned to sandroacoelho

[2017-11-03 00:01] sandroacoelho commented on #11
Hi @Skunnyk ,

You are right. Looking your commit, I remember that our pom is not clear as we want. Let's start using your work making a PR

Best,

[2017-11-03 16:39] Skunnyk commented on #15
Our production setup use the "jar" method (custom build from git master), running by multiple spotlights instances, with a reverse proxy (nginx) in front of them for load balancing and high availability.

Every Spotlight instances runs with -Xmx16G for EN dataset and -Xmx10G for FR dataset (you should adjust the -Xmx depending of the size of your dataset, pay attention to the java garbage collecti

[2017-11-03 16:40] Skunnyk commented on #11
The works is still in progress, I'll continue next week !

[2017-11-09 08:52] ShomyLiu opened #16 "How to run in localhost server compiling from the newest source code"
First I git clone the source code from https://github.com/dbpedia-spotlight/dbpedia-spotlight
But I got a 0.70.jar after maven the project.   However it can run successful with the command:
[code]

So I find this repo, and clone to my computer and then use maven to package a jar:
`spotlight-1.0-jar-with-dependencies.jar`

But when I run the jar, it got an error:
[code]
Did I forget something to de

[2017-11-12 10:16] darioloetscher commented on #16
Hey,

You just picked the wrong jar. The jar you want to run is rest/target/rest-1.0-jar-with-dependencies.jar .

Then you can follow the normal instruction here https://github.com/dbpedia-spotlight/dbpedia-spotlight/wiki/Run-from-a-JAR .

As u can see, they just renaming the rest-1.0-jar-with-dependencies.jar to dbpedia-spotlight-nightly-build.jar in there CI http://jenkins.dbpedia-spotlight.org/

[2017-11-12 10:22] darioloetscher opened #17 "How to load the spotters"
Hey,

In the source code there are a bunch of spotters available. I can not figure out how to get them loaded. Can someone give me a short tutorial on setting up different spotters? Would be awesome if you additionally link me the needed models.

I wanted to try out the different spotters on the demo server http://model.dbpedia-spotlight.org/en/spot .

Thats the code snipped i used:

            t

[2017-11-12 11:58] ShomyLiu commented on #16
@darioloetscher  Hi, Thanks. It does work with the jar in rest/target/rest-1.0-jar-with-dependencies.jar.
But  why is the annotate speed in version 1.0 is quite slower than the version 0.7, costing almost 2X time.

[2017-11-12 13:45] sandroacoelho commented on #16
Hi @darioloetscher, thank you for the answer.

Hi @ShomyLiu:  our version 1.0 is version 0.7 without our first approach with Lucene. Btw, I am going to check it. Thank you for reporting it

[2017-11-12 13:53] sandroacoelho commented on #17
Hi @darioloetscher,
These spotters are part of [Lucene implementation](http://www.dbpedia-spotlight.org/docs/spotlight.pdf) that is not available in our endpoint.

Under [api/model].dbpedia-spotlight.org, we have an approach described at [Improving Efficiency and Accuracy in
Multilingual Entity Extraction](http://jodaiber.de/doc/entity.pdf) that has just one spotter.

Best,

[2017-11-12 15:17] darioloetscher commented on #17
Thanks for your fast answer.

Where can i find the Lucene implementation? The "main" Repository https://github.com/dbpedia-spotlight/dbpedia-spotlight looks something like that... but im not really sure, in its docs it says:

We will keep this repository just to historical references. Every issue opened should be closed and reopened in their respective repositories.

and it is not building which i

[2017-11-13 02:07] ShomyLiu commented on #16
@sandroacoelho  OK, Looking forward to  your checking result.

[2017-11-14 10:27] ShomyLiu opened #18 "Bad Cases: Some short numbers can be annotated"
Hi,
I found that some words such as  "02" "-5" and so on can be annotated to some entities, which is very strange. It may be the model that caused the question, which I used in 'en_2.2/'

For example
[code]

[2017-11-14 19:05] beyzayaman commented on #18
Hi,

Are you sending a file as data in your curl? This might cause a problem. You should send your text url encoded like this:

--data-urlencode "text=Put your text here!"

________________________________
From: HT Liu <notifications@github.com>
Sent: Tuesday, November 14, 2017 11:27:14 AM
To: dbpedia-spotlight/dbpedia-spotlight-model
Cc: Subscribed
Subject: [dbpedia-spotlight/dbpedia-spotlight-mo

[2017-11-15 01:37] ShomyLiu commented on #18
@beyzayaman
Yes, What I mean is that if some words in a text are numbers, they would be annotate to some entities.
![image](https://user-images.githubusercontent.com/10215945/32814147-b1f509f4-c9e8-11e7-9883-d892d91565bc.png)

[2017-11-22 04:20] ShomyLiu opened #20 "CPU Cores Number max=5?"
While I have used the parameters:
[code]
My CPU has 12 cores. but the CPU usage up to 500%; so ..  where is the problem?

[2017-11-22 10:09] Skunnyk commented on #16
@ShomyLiu can you post more informations about your performances problems between 0.7 and 1.0 ? Maybe you are hit by the "100-Continue" thing, see https://github.com/dbpedia-spotlight/dbpedia-spotlight/issues/450#issuecomment-329505073

[2017-11-22 14:54] ShomyLiu commented on #16
@Skunnyk  Thanks!
It seems that the problem is caused by 100-Continue.  And as the #450 says,  use a nginx server behind spotlight rest server, which means I can start multiple spotlight instances ,and use a upstream for loading balance like below:
[code]
Sorry for that I am new to nignx server, So would you mind checking the code ?
Thanks

[2017-11-24 13:43] beyzayaman opened #21 "Abbreviations and some others"
Hi Sandro!

1) Can you please confirm that there isn't any parameter except confidence and support that we can change when using web service?

2) What is the range for support?

3) Can you please confirm that there aren't any problems/bugs which might affect our results (except type filters that we are not using)

4) It seems to me that most problematic issue is with abbreviations. Is there any al

[2017-11-25 10:58] beyzayaman opened #22 "NIF representation for candidate links"
Is it possible for you to support also NIF representation for candidate links?

[2017-12-07 18:32] kdward opened #23 "No Types Being Returned using monthly build of models"
Running the server pointed at the latest models from http://downloads.dbpedia-spotlight.org/monthly_build/models/en/  results in no types being returned by the example text:

[code]

The 2016-04 models do return types successfully:  http://downloads.dbpedia-spotlight.org/2016-04/

[2018-01-15 05:10] sandroacoelho commented on #22
Hi @beyzayaman ,

It is already available under our endpoint. Just run

[code]

Best

[2018-01-15 05:10] #22 closed, assigned to nobody

[2018-01-16 17:02] Nujjy opened #24 "No such element exception"
I'm attempting to use the dbpedia spotlight annotators without the REST API client as per: https://github.com/dbpedia-spotlight/dbpedia-spotlight/wiki/Run-from-Java-or-Scala.

The only difference is that I am loading the model.

Here is my simple test program.

[code]
For some reason, this gives me the following stacktrace when calling the `annotate` method.

[code]

[2018-05-26 06:47] ali3assi opened #25 "Fatal transport error: Connection refused (Connection refused)"
I do the following:

1- I download the .jar from: https://downloads.dbpedia-spotlight.org/spotlight/dbpedia-spotlight-1.0.0.jar
2- I donlwoad the model from https://downloads.dbpedia-spotlight.org/2016-10/en/model/en.tar.gz
3- run the nohup java -jar dbpedia-spotlight-1.0.jar en http://localhost:2222/rest &

In the nohuup.out i have the following log:
[code]

When i execute my code i get the follo

[2018-05-27 16:31] sandroacoelho commented on #25
Dear @TamouzeAssi ,

You can use whatever client that supports REST. I have created to you a small example using httpcomponents [https://github.com/dbpedia-spotlight/examples](https://github.com/dbpedia-spotlight/examples/ )

Best,

[2018-05-29 16:05] ali3assi commented on #25
Dear @sandroacoelho ,

Thank you for help. I think the the resourceItem miss two important functions: getUri and getTypes. I was not able to run the code in eclipse without these two function. By the way, can i know please how can for example fixe the confidence parameter and support. In addition i want to get the result including the surfaceForm, etc...

Thank you again and waintin for helpful id

[2018-05-29 16:24] sandroacoelho commented on #25
Hi @TamouzeAssi ,

I used lombok (http://www.baeldung.com/intro-to-project-lombok) that provide getters and setters for all private variables in ResourceItem.

For confidence parameter, just add [here](https://github.com/dbpedia-spotlight/examples/blob/28ee4757648ad1fd40fe856f1332b4ef0c1501eb/java/src/main/java/org/dbpedia/spotlight/rest/Spotlight.java#L114), something like
 ```params.add(new Basi

[2018-05-29 16:24] #25 closed, assigned to sandroacoelho

[2018-06-03 18:35] andrea-tesei commented on #15
Hi there,
@Skunnyk i'm measuring the resources needed to set up a production environment of dbpedia-spotlight service and I was wondering if it is possible to know how many instances do you have deployed to reach 35 req/s throughput: is it the performance of a single instance? If not, how many active instances do you have to reach this value? How many character (on average) are processed in each r

[2018-06-06 04:43] ali3assi commented on #25
Hi Sir @sandroacoelho,

I have a file to annotate. i tried to parse this file, take a line at time and pass it to

`annotationUnit = spotlight.get(line);`

For some lines, it is ok, we get perfectly the results, but for some other lines we get the following error (these lines are good,):

[code]

Does exists another way to  do the job safely (i.e., like for example retry annotation tentative, or m

[2018-06-06 10:06] sandroacoelho commented on #25
Are you running it using our endpoint or localhost? If you are using our endpoint, try to run it locally

[2018-06-06 13:45] ali3assi commented on #25
@sandroacoelho ,

I just run the  code you sent, so it uses your endpoint. Can you please sepcify the step to take and how can i execute it locally? what i need?

[2018-06-06 13:58] sandroacoelho commented on #25
Just run our [Docker](https://github.com/dbpedia-spotlight/spotlight-docker) and modify [this line](https://github.com/dbpedia-spotlight/examples/blob/master/java/src/main/java/org/dbpedia/spotlight/rest/Spotlight.java#L28) to http://localhost:2222/rest/annotate

Best,

[2018-06-06 14:05] ali3assi commented on #25
@sandroacoelho Sorry, you mean changing the url in the code to http://localhost:2222/rest/annotate and then execute docker by typing (only) the following:
docker run -i -p 2222:80 dbpedia/spotlight-english spotlight.sh

[2018-06-06 14:10] sandroacoelho commented on #25
Yes. You got it ;)

[2018-06-07 17:41] ali3assi commented on #25
@sandroacoelho
Im so sorry for disturbing. Im working on a server which does not accept DOCKER for security. It accept only singularity.

The problem i dont have experience with both. So by chance do you have any documentaion on how we can run dbpedia-spotlight using singularity, please

[2018-06-07 18:05] sandroacoelho commented on #25
Maybe the section **Run your own server** at  https://github.com/dbpedia-spotlight/dbpedia-spotlight-model can help you

[2018-06-07 19:21] ali3assi commented on #25
@sandroacoelho you are the best~ thank you you save my time :)

[2018-06-10 20:06] hunterhector opened #26 "Error creating XML using in house REST server"
I am running the in-house RESTful server.

Using dbpeidia spotlight 1.0.0 [1] and model 2016-10 [2].

The server can do annotation most of the time, but sometimes throws:

One minimum test case to reproduce the error is:

`curl http://localhost:2222/en/rest/annotate --data-urlencode "text=Crimean peninsula Black Sea"  -H "Accept: application/json"`

Interestingly, querying the public dbpedia end p

[2018-06-10 21:40] sandroacoelho commented on #26
Hi @hunterhector ,

Just remove /en from your URL

E.g:

``
curl http://localhost:2222/rest/annotate --data-urlencode "text=Crimean peninsula Black Sea" -H "Accept: application/json"
``

Best,

[2018-06-11 03:35] hunterhector commented on #26
In fact, that is not what I mean. The URL I am using is correct.

Since I started the server with:
`java -jar dbpedia-spotlight-1.0.0.jar  /data/hector/dbpedia/en http://localhost:2222/en/rest`

And the link works with the following command:
`curl http://localhost:2222/en/rest/annotate --data-urlencode "text=Crimean peninsula" -H "Accept: application/json"`

But does not work with the following:
`

[2018-06-11 11:16] sandroacoelho commented on #26
Spotlight ApplicationPath does not come from the command line parameter as declared  [here](https://github.com/dbpedia-spotlight/dbpedia-spotlight-model/blob/master/rest/src/main/java/org/dbpedia/spotlight/web/rest/resources/Annotate.java#L42).

If you want to change the path with the current version, I advise you put it behind an Apache / Nginx

[2018-06-11 14:35] hunterhector commented on #26
Hi, Sandro,

Thanks for the quick reply. However, I still find the problem not related to the application path.

I restarted the server as

`java -jar dbpedia-spotlight-1.0.0.jar /data/hector/dbpedia/en http://localhost:2222/rest`

And then I do the following query:

`curl http://localhost:2222/rest/annotate --data-urlencode "text=Crimean peninsula Black Sea" -H "Accept: application/json"`

, whic

[2018-06-18 20:55] Skunnyk commented on #15
Hi,

@andrea-tesei Not using spotlight anymore, but IIRC, the 35rq/s were on 2 spotlight instances, with an nginx frontend.  The ram/ -Xmx thing was the most important tweak (see my previous comment)

[2018-06-21 14:55] jaysonfeliciano opened #28 "Not working in Java 9 or 10"
Hi,

We are forced to update our java to 10. But after upgrading to java 10, dbpedia spotlight is no longer working. We are getting this error: "ava.lang.TypeNotPresentException: Type javax.xml.bind.JAXBContext not present".

Do you have any suggestions to resolve this?

Thanks,
Jayson

[2018-06-22 08:51] jaysonfeliciano commented on #28
here is the exact command where we are encountering the error with java 10

curl http://localhost:1443/rest/annotate \
  -H "Accept: text/xml" \
  --data-urlencode "text=Brazilian state-run giant oil company Petrobras signed a three-year technology and research cooperation agreement with oil service provider Halliburton." \
  --data "confidence=0" \
  --data "support=0"

[2018-06-22 19:38] zabihimayvan opened #29 "Not work for Russian language"
I tried to use spotlight for Russian language. I set the Host to both "http://api.dbpedia-spotlight.org/ru/annotate" and "http://model.dbpedia-spotlight.org/ru/annotate", but non of them works! I received the error below:
`http://api.dbpedia-spotlight.org/ru/annotate
Traceback (most recent call last):
  File "/.../testing.py", line 47, in <module>
    annot = get_annotations(text)
  File "/.../tes

[2018-06-22 21:21] sandroacoelho commented on #29
Hi @zabihimayvan ,

Our online instances was selected considering DBpedia branches that are online - we have noticed that http://ru.dbpedia.org is not available since 2017 :(
Btw, you can run it locally using docker

``
docker run -d -p 2227:80 dbpedia/spotlight-russian spotlight.sh
``

and then use it http://localhost:2227/rest/annotate?text=Москва

All the best,

[2018-06-22 21:25] zabihimayvan commented on #29
Thank you very much for your response. Actually, I had some problems in setting my local machine as the server when I wanted to use Dbpedia locally. So, I am using it online. Is there any way to have an online address (endpoint) for Russian language?
Thank you in advance :).

[2018-06-25 09:24] mgns commented on #28
The problem was discussed for Java 9 [here](https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexception-in-j).

I would recommend to use a [docker image of spotlight](https://hub.docker.com/u/dbpedia/), generally and here as a workaround.

Would consider this issue an enhancement.

[2018-06-25 10:00] mgns commented on #29
Setting up spotlight using the docker image is really straightforward. The DOCKER_HOST might be different from localhost when using docker-machine.

[2018-06-26 08:56] jaysonfeliciano commented on #28
Hi Magnus,

Thank you for your response. Unfortunately, we are not allowed to use the docker image and we're pushed with the workaround.

Regarding workaround, do you have a very simple step for us to re-compile the dbpedia? Many thanks in advance!

As for the enhancement, would you be able to provide timeline?

Thank you very much!
Jayson

[2018-07-22 15:53] Gautamshahi opened #30 "Issue with the Installation"
Hi,

I have checked that most of the links are not working.

I wanted to use the service using jar file, but the link is not working. Can you please provide me the JAR file?

[2018-07-24 23:51] Gautamshahi commented on #29
Hi zabihimayvan, How did you install it? Do you have Jar file?

[2018-07-24 23:53] zabihimayvan commented on #29
Unfortunately, I installed the docker file, but it didn't work for me.
Although I really needed the package for Russian language, I ignored it.
Please let me know if you find any solution.

Thanks,
Mahdieh

On Tue, Jul 24, 2018 at 7:51 PM GAUTAM SHAHI <notifications@github.com>
wrote:

[2018-07-25 00:04] Gautamshahi commented on #16
Hi, @ShomyLiu Do you have the jar file, can you please provide the link? On the given website its not working and nobody is helping.

[2018-07-25 00:36] Gautamshahi commented on #29
Hi,

Thank you.

I am struggling to install it. I will let you know, I am trying to fixed it.

They develop the project for name once the tenure of the project is over
they stop providing the solution.

Then I really don't understand the meaning if open source.

Regards,

On Wed, Jul 25, 2018, 01:54 Mahdieh Zabihimayvan <notifications@github.com>
wrote:

[2018-07-25 03:37] ShomyLiu commented on #16
@Gautamshahi  Hi, I have uploaded the spotlight 1.0 jar in :  https://drive.google.com/file/d/1vFwVCzoY9R9rBPpfmgD9LlXpW6KdEc7-/view?usp=sharing

As for the language jar (i.e, en.tar.gz)  you can download from https://sourceforge.net/projects/dbpedia-spotlight/files/2016-10/en/model/

then you can run your jar according to https://github.com/dbpedia-spotlight/dbpedia-spotlight/wiki/Run-from-a-JAR

[2018-07-25 20:27] Gautamshahi commented on #16
Thank you for your effort.

I tried both ways but getting the error of load main class, one of the screenshot.

![image](https://user-images.githubusercontent.com/3966230/43218524-3f5cc8d2-9062-11e8-9875-f1a602f20c23.png)

[2018-07-26 02:35] ShomyLiu commented on #16
@Gautamshahi  Hi, from the error information, it seems that  your target folder `DISI_3rd and 4th`  has blank space. You can rename your folder that doesn't have spaces or escape wiht `\`

[2018-07-26 11:03] Gautamshahi commented on #16
Thank you, any suggestion?

![image](https://user-images.githubusercontent.com/3966230/43258792-a58bc6e6-90f1-11e8-9e88-0f538fc4c010.png)

[2018-07-26 11:09] ShomyLiu commented on #16
@Gautamshahi  From your error information, it's out of memory while loading the english corpus model.
You can set more memory for jvm via `-xms =xmx`, which depends on the memory in your computer, such as:
[code]

[2018-07-26 14:39] Gautamshahi commented on #16
Thank you, Yes It needs more RAM. I laptop has 6GB only.

[2018-08-02 14:04] rodriguesfas opened #31 ".Jar file not found"
Hello, I would like to use the local server, however the links are broken

wget http://downloads.dbpedia-spotlight.org/spotlight/dbpedia-spotlight-1.0.0.jar
wget http://downloads.dbpedia-spotlight.org/2016-16/en/model/en.tar.gz

I await upgrade, to download :)

[2018-08-04 19:12] dustyny opened #32 "Response 414 - "REQUEST URI TOO LARGE""
I'm getting an error that I'm passing in a document that is to large for Spotlight.

I'm using the python requests module. The document that I'm trying to pass in has 2533 words. I've cleaned it of stop words and sanitized it pretty well. When I cut the document down to 1211 words it works without any issues.

EDIT: I totally forgot that GET has a URL length limit. Is there any way to use a POST?

[2018-08-06 13:19] sandroacoelho commented on #32
Try to use "POST" instead

[2018-08-06 14:00] dustyny commented on #32
Yes got that.. This is missing from the documentation on the main site.
https://www.dbpedia-spotlight.org/api
I found the answer on the old github repository. Which is marked "No longer in active development".  It was a bit confusing.

https://github.com/dbpedia-spotlight/dbpedia-spotlight/wiki/Web-service

[code]

print(response.text)

[2018-08-06 14:00] #32 closed, assigned to nobody

[2018-08-12 21:15] myii commented on #31
@rodriguesfas I had the same problem so I looked into the issue a bit further.

---

#### Models

These are available under:

* https://sourceforge.net/projects/dbpedia-spotlight/files/2016-10/

So `en.tar.gz` can be found at:

* https://sourceforge.net/projects/dbpedia-spotlight/files/2016-10/en/model/en.tar.gz

---

#### JAR file

Haven't been able to find this anywhere.  The SourceForge directo

[2018-08-12 22:18] myii commented on #31
@rodriguesfas OK, Docker isn't going to work since it depends on downloading the JAR as well.

https://github.com/dbpedia-spotlight/spotlight-docker/blob/master/v1.0/english/Dockerfile

So until `dbpedia-spotlight-1.0.0.jar` is made available, doesn't appear to be any way of getting Spotlight working locally.

[2018-08-12 23:53] myii commented on #31
@rodriguesfas There is a solution provided by @ShomyLiu at https://github.com/dbpedia-spotlight/dbpedia-spotlight-model/issues/16#issuecomment-407623136:

So there are two options available:

1. Download from the link provided by @ShomyLiu -- this is quicker but at your own risk
1. Build it yourself

Either way, you may want to rename the file to `dbpedia-spotlight-1.0.0.jar`, to follow existing i

[2018-08-13 02:36] ShomyLiu commented on #31
@myii   It's my pleasure

[2018-08-13 17:00] ennemkay opened #33 "download links are broken"
none of the download links for the spotlight server or models in the documentation seem to be valid.

[2018-09-04 16:52] Kivin1 opened #34 "Empty type in local server"
Hi,

I run the jar file in my local server but i got many empty entity types. Is there any way can help me fix the issue.

Thanks&BR,
kivi

[2018-09-04 17:01] kdward commented on #34
I was seeing this issue with the model files from the monthly builds and has to go back to an older version, maybe it's the same issue?  Haven't gotten a response on it yet.

https://github.com/dbpedia-spotlight/dbpedia-spotlight-model/issues/23

[2018-09-05 16:03] Kivin1 commented on #23
hi , the 2016-04 link is not there now. could you update the link.
By the way ,have you tired out the 2016-04 recently? i tried out it but it still doesn't work. Types are remain empty.

[2018-10-05 04:58] jaysonfeliciano commented on #28
Hi Magnus/Any support,

Java will end their support in Java 10 and there are vulnerabilities found with this lower version. Just wanted to know where are you at on the enhancement that supports Java 11?

Regards,
Jayson

[2018-10-09 13:33] nicky508 opened #35 "Dutch Spotlight down"
For some reason the dutch spotlight service seems to be down (http://api.dbpedia-spotlight.org/nl/annotate).

Is this planned and will it be back online in the future?

[2018-10-13 01:06] sandroacoelho commented on #35
Hi @nicky508 ,

Unfortunately, our demo is available in English, German (Supported by https://www.uni-mannheim.de/) and Portuguese (Supported by https://www.rnp.br/en).

I was paying from my money to keep some instances online, such as Dutch, Spanish, Italian, and others, but now I can't do that. Sorry.

However, you can run it in your local machine, via [Docker](https://github.com/dbpedia-spotlig

[2018-10-13 01:06] #35 closed, assigned to nobody

[2018-10-13 01:10] sandroacoelho commented on #34
Hi @Kivin1, @kdward

The latest model has a bug with types. I have started to fix it [here](https://github.com/dbpedia-spotlight/spotlight-jenkins), but I didn't finish yet.

I'm planning to deliver a new model until Dec 2018. Maybe you want to help me with it. Please ping me if you are in.

Best,

[2018-10-13 01:13] sandroacoelho commented on #33
Hi @sulphide3 ,

Our download server(downloads.dbpedia-spotlight.org) is not available anymore, but all files are kindly hosted by https://sourceforge.net/projects/dbpedia-spotlight/files/.

Maybe you or someone want to help me fix the documentation. I have stated to fix our Dockerfiles.

Please ping me if you are in,

All the best,

[2018-10-13 01:15] sandroacoelho commented on #31
Hi all,

Thank you for all the answers. As you have reported, our download server(downloads.dbpedia-spotlight.org) is not available anymore, but all files are kindly hosted by https://sourceforge.net/projects/dbpedia-spotlight/files/.

Maybe you or someone want to help me fix the documentation. I have stated to fix our Dockerfiles.

Please ping me if you are in,

All the best,

[2018-10-13 01:16] sandroacoelho commented on #30
Hi @Gautamshahi

The latest model has a bug with types. I have started to fix it here, but I didn't finish yet.

I'm planning to deliver a new model until Dec 2018. Maybe you want to help me with it. Please ping me if you are in.

Best,

[2018-10-13 01:27] sandroacoelho commented on #29
Hi @zabihimayvan

Could you, please, provide us some log to help you?

@Gautamshahi

I totally understand your point but is not fair criticize without to provide a solution. I was paying for years a server to keep these endpoints available online and from I remember, you never asked how you could help on it. Remember: You have what you can pay for.

Best,

[2018-10-13 01:32] sandroacoelho commented on #28
Hi @jaysonfeliciano

We can start a project to migrate it Java 11. What about to help me with it? Please ping me if you are in.

Best,

[2018-10-13 01:36] sandroacoelho commented on #23
Hi @Kivin1, @kdward

The latest model has a bug with types. I have started to fix it [here](https://github.com/dbpedia-spotlight/spotlight-jenkins), but I didn't finish yet.

I'm planning to deliver a new model until Dec 2018. Maybe you want to help me with it. Please ping me if you are in.

Best,

[2018-10-13 21:52] myii commented on #31
@sandroacoelho That's good news.  Unfortunately, numerous commitments at the moment -- apologies.

[2018-10-15 10:45] jaysonfeliciano commented on #28
Hi Sandro,

Wow, great idea! But unfortunately, we are not familiar with it as well as the Java language. We are just plainly consuming DBPedia Spotlight for our NLP engine. Are you part of the support?

Thanks,
Jayson

[2018-10-16 11:49] rovicsellado opened #37 "DBPedia Spotlight is not Working in Java 11"
Our project is currently using DBPedia Spotlight on a critical piece of our application but is running on a lower version of Java. We've identified a couple of risks such as 1) Security vulnerabilities and 2) End of Java support for lower JAVA versions thus we need to upgrade to the latest JAVA version (JAVA 11) but we also learned that DBPedia is not working in JAVA 11. We would like to ask if, w

[2018-10-17 15:04] romaindeveaud opened #38 "How to build new models?"
The models available at https://sourceforge.net/projects/dbpedia-spotlight/files/ are quite outdated (October 2016), is there a project that we can run by ourselves to build fresh news models that could be directly plugged to a self-hosted instance of Spotlight?

[2018-10-18 04:16] rovicsellado commented on #28
Hi,
I have the same issue on this thread, [DBPedia Spotlight is not Working in Java 11](https://github.com/dbpedia-spotlight/dbpedia-spotlight-model/issues/37). Is there a commercial support that can help us on this? Or on call support we can reach out to?

Thanks in advance.
Rovic

[2018-10-20 09:34] sandroacoelho commented on #38
Have you tried our [Jenkins pipelines](https://github.com/dbpedia-spotlight/spotlight-jenkins)?

[2018-10-20 09:54] sandroacoelho commented on #28
Hi @jaysonfeliciano , @rovicsellado

I am commiter in the repo. Unfortunately, we are short on workforce and infrastructure for maintaining the Spotlight service online and up to date.

What about to start a crowdfunding campaign to upgrade DBpedia Spotlight to Java 11 and deliver new models? All raised money will be applied to rent cloud servers to keep it running for one year.

Please, consider

[2018-10-20 10:03] sandroacoelho commented on #37
@rovicsellado

We don't have commercial support, but we can do it by a crowdfunding campaign as I commented out at #28  issue.

All the best,

[2018-10-22 14:49] rovicsellado commented on #28
Hi Sandro,

Thanks for the proposal, we'll consider this. One question though, what do we mean when we say "to rent cloud servers to keep it running for one year"? Are we going to put the new version of DBPedia Spotlight on the cloud and comsumers will just connect it from there? If so, I think it won't work for us. We need a distributable version of the DBPedia Spotlight that can be installed on

[2018-10-23 14:53] sandroacoelho commented on #28
Hi @rovicsellado,

As always, we intend to continue delivery releases in jar and docker through Docker hub.

Beside it, we rent servers to compile new models and made available live endpoints that are used by the community under our [demo site](https://www.dbpedia-spotlight.org/demo/)

All the best,

[2018-10-24 04:53] rovicsellado commented on #28
Hi Sandro,

Thanks for providing the info. By the way if we help in migrating the project to Java 11, how long would the upgrade be and the complexity? What skills are needed?

Thanks in advance.
Rovic

[2018-10-24 12:41] sandroacoelho commented on #28
Hi @rovicsellado,

I was thinking about how to have it quickly. DBpedia Spotlight has 3 modules (core, index and rest). Upgrade them in one shot would be no so easy mainly because of Scala library incompatibilities. We can split it into two services: indexing service and REST/query service.

The good news is: REST endpoints are almost done [here](https://github.com/dbpedia-spotlight/dbpedia-spotli

[2018-10-26 05:24] rovicsellado commented on #28
Hi Sandro,

In terms of skills you mentioned, we just have limited coding experience in terms of Java and 0 experience on the rest. Not sure how or where we could contribute on this area. Do you have any timeframe we could start the effort and ETC on how long do you think we can do this?

Thanks.
Rovic

[2018-11-12 05:56] rovicsellado commented on #28
Hello @sandroacoelho,

Good day! Any news about this initiative?

Thanks.
Bic

[2018-11-27 09:54] annishaa88 commented on #26
I'm also experiencing this issue with query: Mediterranean Sea

[2019-04-25 18:55] agilll opened #41 "offset duplicated"
Hi everybody:

I have tried the following text in the DBpedia SpotLight demo.

"Artaxerxes III was succeeded by Artaxerxes IV Arses”

I get the following strange result.

"Artaxerxes III was succeeded by Artaxerxes IV ArsesArtaxerxes IV ArsesArtaxerxes IV Arses, who before he could act was also poisoned"

If I make an API call, I get two different entities identified in the same offset 32:

@URI->

[2019-07-01 15:27] lhausmann commented on #23
Hey, I'm having the same issue with models I'm building locally. Is there any known work-around/solution?

[2019-08-05 09:57] rmitsch commented on #23
Would be interested in that as well.

[2019-08-16 10:43] nawabhussain opened #42 "Inconsistency in results for German Text."
If I annotate the following text using DBpedia Spotlight Model, the results I get are very different, depending on the length of the text. If the text length is small the recognition is correct. For longer texts, the predictions are not correct.

For example, for the following sample the predictions are correct.

However, if the same sample is part of a 3-4 page document that the results are not c

[2019-12-23 04:20] KnowledgeGarden commented on #33
I observe that the link on the github model readme references:
http://downloads.dbpedia-spotlight.org/2016-16/en/model/
but there is no 2016-16; there is, in fact, a 2016-10.
That link, when placed in a browser, shifts to a sourceforge address.

[2019-12-23 22:42] KnowledgeGarden opened #43 "New installation refusing remote connection"
Installed the jar and en model on an ubuntu box with 32gb memory. It comes right up; in a separate console, run the curl on localhost:2222 and it runs fine. Running the same curl against 192.168.0.12:2222 from another box gets Connection Refused.  On that ubuntu box, ufw is inactive. using "-v" in the curl simply confirms a connection was tried and failed.

Thanks in advance for any ideas, perhaps

[2019-12-24 01:18] KnowledgeGarden commented on #43
Problem solved. Dopey me. From reading the code, it became clear: **do not boot to localhost:2222**. Instead, boot to the IP address of the box, and others on the lan can see it.
Perhaps the instructions might reflect that.
While I've got your attention, the instructions refer to a jar, the version for which is 1.0.0.jar, not 1.0.jar.

[2019-12-24 01:18] #43 closed, assigned to nobody

[2020-02-25 04:55] lenyabloko opened #44 "ERROR 404: Not Found."
HI, I am trying to run my own server and follow your instructions. Here is what I get:
[code]

[2020-02-26 08:28] agill3 commented on #26
Me too. Any hint since the last post?

[2020-03-02 16:21] lawrencenull opened #45 "@ Symbol"
Is there any particular reason for the @ symbol in the JSON tree of results? It makes iterating through the tree with multiple entities a pain.

[2020-07-28 07:52] fanavarro commented on #41
Same here, I am using the input
`host, BBC Wildlife Specials`
and then I have the result
`host, BBC Wildlife SpecialsBBC Wildlife SpecialsBBC Wildlife Specials`

This includes the following entities:
  * http://dbpedia.org/resource/BBC_Wildlife_Specials
  * http://dbpedia.org/resource/BBC

However, I would like to obtain the longest match only, which should be `BBC Wildlife Specials`. If this poss

[2020-08-28 11:01] fanavarro commented on #45
Maybe it is related to json-ld, a json format for linked data (https://json-ld.org/).

[2020-08-28 11:21] fanavarro opened #47 "How to identify the detected resource in the input text from json response"
Hi, I am wondering how to relate detected resources with the input text. For example, for the input:
"The Battle of Gettysburg was fought July 1–3, 1863."
I used the following curl command to query a local instance of spotlight:

`curl -X POST   http://localhost:2222/rest/annotate   -H 'accept: application/json'   -H 'content-type: application/x-www-form-urlencoded'   --data-urlencode "text=The Ba

[2020-08-28 11:23] fanavarro opened #48 "How to link resource to the corresponding text fragment in the original input text from json response"
Hi, I am wondering how to relate detected resources with the input text. For example, for the input:
"The Battle of Gettysburg was fought July 1–3, 1863."
I used the following curl command to query a local instance of spotlight:

`curl -X POST   http://localhost:2222/rest/annotate   -H 'accept: application/json'   -H 'content-type: application/x-www-form-urlencoded'   --data-urlencode "text=The Ba

[2020-09-18 07:57] heathersherry opened #49 "API down"
Hi,
I found that the api in https://api.dbpedia-spotlight.org/en/annotate is not working today.
`curl: (7) Failed to connect to api.dbpedia-spotlight.org port 443: Connection refused`

It works perfectly several months ago. Is there any change?

[2021-01-28 23:16] juhaszhenderson commented on #26
Getting this too, any word on this?

[2021-03-02 22:10] napsternxg opened #50 "Upload dbpedia-spotlight-services-1.0.0.jar to maven central repository"
Hi is it possible to upload the [dbpedia-spotlight-services-1.0.0.jar](https://sourceforge.net/projects/dbpedia-spotlight/files/spotlight/) jar to Maven Central as described here:

This can be done using the POM file: https://github.com/dbpedia-spotlight/dbpedia-spotlight-model/blob/master/pom.xml

Other DBPedia libraries are also listed in maven and searchable via: https://search.maven.org/search

[2021-03-05 20:59] Julio-Noe commented on #50
Hello @napsternxg ,

The latest version of dbpedia-spotlight is in the repository [https://search.maven.org/search?q=a:dbpedia-spotlight](https://search.maven.org/search?q=a:dbpedia-spotlight) . This version could be used to customize DBpedia-Spotlight from your own code.

[2021-03-09 16:29] napsternxg commented on #50
Thanks @Julio-Noe that package is different from the spotlight package (dbpedia-spotlight-services-1.0.0.jar) we have in this repo and the one hosted on https://sourceforge.net/projects/dbpedia-spotlight/files/spotlight/. The maven package you shared simply queries the existing dbpedia-spotlight service while this package which I am requesting runs the dbpedia-service.

I confirmed this by downloa

[2021-03-16 07:23] shivangini-gugalia opened #51 "Failed to execute goal net.alchim31.maven:scala-maven-plugin:3.2.2:compile"

[2021-03-16 07:37] #51 closed, assigned to nobody

[2021-03-16 07:44] Shivangini-G opened #52 "Failed to execute goal net.alchim31.maven:scala-maven-plugin:3.2.2:compile"
**mvn install -rf :core -U -e**
[INFO] --- scala-maven-plugin:3.2.2:compile (scala-compile-first) @ core ---
[WARNING]  Expected all dependencies to require Scala version: 2.13.5
[WARNING]  org.dbpedia.extraction:core:3.9 requires scala version: 2.13.5
[WARNING]  net.liftweb:lift-json_2.10:2.5 requires scala version: 2.13.5
[WARNING]  net.liftweb:lift-json_2.10:2.5 requires scala version: 2.10.0
[

[2021-03-16 10:43] Julio-Noe commented on #52
Hello @Shivangini-G,

I reproduced your problem and I get a similar error. The dbpedia-spotlight-model project is base on JDK 8 then, some features of this JDK are needed to compile the project (up versions of JDK do not contain some libraries). To fix this error I download the JDK8 and define the JAVA_HOME to the corresponding directory, for example:

     export JAVA_HOME=/home/user/.../jdk1.8.0

[2021-03-17 06:04] Shivangini-G commented on #52
I downloaded JDK8 and set the JAVA_HOME but still getting the same errors.
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project core: Compilation failure
    at org.apache.maven.lifecycle.internal.MojoExecutor.execute (MojoExecutor.java:215)
    at org.apache.maven.lifecycle.internal.M

[2021-03-18 06:39] Shivangini-G commented on #52
The error got resolved, I am able to compile and successfully run the curl cmd too.

[2021-03-19 05:26] #52 closed, assigned to nobody

[2021-04-03 00:19] augusto-herrmann commented on #44
I tried the same and also got a 404 Not Found error.

[2022-10-25 12:36] #47 closed, assigned to nobody